:root {
  --light-blue: #2a87b0;
  --blue: #304dcd;
  --black: #2e2d32;
  --secondary-black: #000000;
  --gray: #5c5c5c;
  --yellow: #979058;
  --red: #b76586;
  --white: #f1f1f1;

  --primary-gap-size: 15px;
  --secondary-gap-size: 18px;
}
